 .user-entry {
   mat-card {
     margin-top: 10%;
     .mat-form-field {
       display: block;
     }
   }
   p-inputmask {
     display: block;
     input[type="text"] {
       width: 100%;
     display: block !important;
     }
   }
 }
 