<div class="row justify-content-center user-entry">
  <form [formGroup]="userForm" class="col col-md-4">
    <mat-card>
      <mat-card-title>Welcome Guest!</mat-card-title>
      <mat-card-content>
        <mat-form-field>
          <input matInput placeholder="Enter your name" formControlName="name" />
        </mat-form-field>
        <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)" class="mb-2 text-danger">
          <span *ngIf="f.name.errors.required">
            Name is required.
          </span>
          <span *ngIf="f.name.errors.minlength">
            Name must be at least 4 characters long.
          </span>
        </div>
        <label>Enter your mobile number:</label>
        <p-inputMask mask="(999) 999-9999" placeholder="ex: (999) 999-9999" formControlName="phone"></p-inputMask>
        <div *ngIf="f.phone.invalid && (f.phone.dirty || f.phone.touched)" class="mb-2 text-danger">
          <span *ngIf="f.phone.errors.required">
            Mobile number is required.
          </span>
          </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="userForm.invalid" (click)="setName()">Submit</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>